# IDEs & editors
/.idea/
.DS_Store

# cache
*.py[cod]
__pycache__/
/.ruff_cache/

# virtualenv
/virtualenv/
/venv/

# packaging
/*.egg-info/
/dist/
/build/
/.eggs/

# testing
/.cache/
/pytestdebug.log
/.pytest_cache/
/.tox/
/.nox/
/.coverage
/htmlcov/
coverage.xml

